.content {
    font-size: 2rem;
}

.content > p {
    font-weight: bold;
    margin-bottom: 0px;
}

.content > .title {
    border-bottom: 1px solid #999;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

hr {
    margin-top: 0px;
}