hr {
    margin-top: 0px;
}

.content {
    font-size: 2rem;
}

.content > p {
    margin-bottom: 0px;
    font-weight: bold;
}

.content > .title {
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    margin-bottom: 20px;
}