.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.errors > p {
    background-color: red;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 20px;
    padding: 10px 25px;
}

body.login {
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: 120px 1fr 60px;
}

body.login .main {
    height: calc(100vh - 180px);
}

button {
    background-color: #228b22;
    color: white;
}

button, input, label {
    font-size: 1.5rem;
}

form > div {
    padding: 15px;
}

h3 {
    font-size: 2.1rem;
    margin: 20px;
}